@import url('fontawesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    max-width: 1248px;
    padding: 0 3%;
}

    @media screen and (max-width: 979px) {
        main {
            padding: 0 5%;
        }
    }

section.main-section {
    margin-bottom: 40px;
}

/* HEADER */

header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-bottom: 35px;
}

header div.logo-container {
    flex-grow: 2;
}

header img {
    display: block;
    width: 80px;
    padding-top: 30px;
}

header div.navigation-button, header div.signin-button {
    display: flex;
}

header a {
    font-size: 0.8em;
    padding-top: 40px;
    text-decoration: none;
    color: black;
}

    header div.navigation-button a {
        padding: 40px 25px 0;
    }

    header div.navigation-button a:hover {
        border-top: 2px #0065FC solid;
        padding-top: 38px;
        color: #0065FC;
    }

    header div.signin-button a {
        color: #0065FC;
        margin-left: 25px;
    }

 
/* Header responsive */

@media screen and (max-width: 540px) {

    header img {
        width: 130px;
    }
    header nav {
        width: 100%;
        order: 3;
    }

    header div.navigation-button a, header div.signin-button a {
        font-size: 1.3em;
    }

    header div.navigation-button a {
        width: 50%;
        text-align-last: center;
        padding-bottom: 20px;
    }

        header div.navigation-button a:hover {
            border-top: none;
            padding-top: 40px;
        }

        /* mise en forme du lien sur mobile */
        /*header div.navigation-button a:visited { 
            border-bottom: 2px #0065FC solid;
        }*/

    header div.signin-button a {
        padding-top: 50px;
    }
}


/* SECTION - SEARCH */


section#search > h1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}

section#search > h2 {
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 10px;
}

    /* Hn responsive */

    @media screen and (max-width: 540px) {

        section#search > h1 {
            font-size: 1.8em;
            line-height: 1.3em;
            margin-bottom: 16px;
        }

        section#search > h2 {
            font-size: 22px;
        }        
    }

    @media screen and (max-width: 369px) {

        section#search > h2 {
            font-size: 15px;
        }        
    }

/* Search bar */

section#search > div.search-bar-container form > button.mobile-search-btn {
    display: none;;
}

section#search > div.search-bar-container {
    width: 350px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px #F2F2F2 solid;
    border-radius: 12px;
    display: flex;
}

section#search > div.search-bar-container > div:first-child, section#search > div.search-bar-container form {
    display:flex;
    align-items: center;
    height: 40px;
}

section#search > div.search-bar-container > div:first-child {
    background-color: #F2F2F2;
    border-radius: 12px 0 0 12px;
}

    section#search > div.search-bar-container i {
        font-size: 14px;
        padding: 0 15px;
    }

section#search > div.search-bar-container div:nth-child(2) {
    flex-grow: 1;
}
    section#search > div.search-bar-container form > input {
        height: 40px;
        padding: 0 15px;
        border: none;
    }

    section#search > div.search-bar-container form > input#city, section#search > div.search-bar-container form > input[type=submit]  {
        font-weight: 600;
        font-size: 14px;
    }

    section#search > div.search-bar-container form > input#city {
        flex-grow: 2;  
    }

    section#search > div.search-bar-container form > input[type=submit] {
        background-color: #0065FC;
        border-radius: 0 12px 12px 0;
        color: white;
        cursor: pointer;
    }


    /* Search bar - Responsive */

    @media screen and (max-width: 540px) {

        section#search > div.search-bar-container form > input.desktop-search-btn {
            display: none;
        }

        section#search > div.search-bar-container {
            width: 100%;
            max-width: 500px;
            margin-top: 30px;        
            border-radius: 20px;        
        }

        section#search > div.search-bar-container > div:first-child, section#search > div.search-bar-container form {
            height: 60px;
        }

        section#search > div.search-bar-container i {
            font-size: 22px;
            padding: 0 22px;
        }

        section#search > div.search-bar-container form > input#city {
            font-size: 22px;
            font-weight: 700;
            padding: 0 0 0 22px;
        }
        
        section#search > div.search-bar-container form > button.mobile-search-btn {
            display: block;
            background-color: #0065FC;
            border: none;
            border-radius: 20px;
            color: white;
            height: 60px;
        }
    }

/* Filters */

section#search div.filters-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
}

section#search div.filters-container > p {
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
    margin-right: 20px;
}

section#search div.filters-container > div.filter-btn {
    margin-right: 20px;
    height: 40px;
    border: 2px #DCDCDC solid;
    border-radius: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 15px;
}

    section#search div.filters-container > div.filter-btn:hover {
        box-shadow: 0px 12px 40px -12px #0065FC;
        transform: translateY(-2px);
    }

section#search div.filters-container > div.filter-btn > div {
    color: #0065FC;
    background-color: #DEEBFF;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -2px;
    margin-right: 10px;
}

    section#search div.filters-container > div.filter-btn > div > i {
        color: #0065FC;
        background-color: #DEEBFF;
    }

    section#search div.filters-container > div.filter-btn > p {
        margin-right: 15px;
        font-size: 14px;
        font-weight: 600;
    }


    /* Filters - Responsive */

    @media screen and (max-width: 540px) {
        
        section#search div.filters-container > p {
            font-weight: 700;
            width: 100%;
            font-size: 22px;
        }

        section#search div.filters-container > div.filter-btn {
            height: 60px;
            border-radius: 30px;
        }

        section#search div.filters-container > div.filter-btn > div {
            height: 60px;
            width: 60px;
            border-radius: 50%;
        }

            section#search div.filters-container > div.filter-btn > div > i {
                font-size: 22px;;
            }

        section#search div.filters-container > div.filter-btn > p {
            font-weight: 700;
            font-size: 20px;
            margin-right: 20px;
        }
    }

/* Info i */

section#search > div.info-results-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

section#search > div.info-results-container i {
    content: "\f129";
    font-family: Fontawesome;
    color: #0065FC;
    width: 20px;
    height: 20px;
    font-size: 10px;
    text-align: center;
    line-height: 17px;
    vertical-align: middle;
    border: 1px #dfdfdf solid;
    border-radius: 12px;
    margin-right: 10px;
}

section#search > div.info-results-container p {
    font-size: 13px;
}


/* Info i - Responsive */

    @media screen and (max-width: 540px) {

        section#search > div.info-results-container {
            align-items: flex-start;
        }

        section#search > div.info-results-container i {
            width: 39px;
            height: 30px;
            font-size: 20px;
            line-height: 28px;
            border-radius: 15px;
            margin-right: 15px;
        }

        section#search > div.info-results-container p {
                font-size: 22px;
            }

        }