@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    max-width: 1248px;
    padding: 0 3%;
}

    @media screen and (max-width: 979px) {
        main {
            padding: 0 5%;
        }
    }


/* HEADER */

header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-bottom: 35px;
}

header div.logo-container {
    flex-grow: 2;
}

header img {
    display: block;
    width: 80px;
    padding-top: 30px;
}

header div.navigation-button, header div.signin-button {
    display: flex;
}

header a {
    font-size: 0.8em;
    padding-top: 40px;
    text-decoration: none;
    color: black;
}

    header div.navigation-button a {
        padding: 40px 25px 0;
    }

    header div.navigation-button a:hover {
        border-top: 2px #0065FC solid;
        padding-top: 38px;
        color: #0065FC;
    }

    header div.signin-button a {
        color: #0065FC;
        margin-left: 25px;
    }

 
/* Header responsive */

@media screen and (max-width: 540px) {

    header img {
        width: 130px;
    }
    header nav {
        width: 100%;
        order: 3;
    }

    header div.navigation-button a, header div.signin-button a {
        font-size: 1.2em;
    }

    header div.navigation-button a {
        width: 50%;
        text-align-last: center;
        padding-bottom: 20px;
    }

        header div.navigation-button a:hover {
            border-top: none;
            padding-top: 40px;
        }

        /* mise en forme du lien sur mobile */
        /*header div.navigation-button a:visited { 
            border-bottom: 2px #0065FC solid;
        }*/

    header div.signin-button a {
        padding-top: 50px;
    }
}


/* SECTION - SEARCH */



section#search > h1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}

section#search > h2 {
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 10px;
}


/* Search bar */

section#search > div.search-bar-container {
    width: 350px;
    margin-top: 10px;
    border: 1px #F2F2F2 solid;
    border-radius: 12px;
    display: flex;
}

section#search > div.search-bar-container > div:first-child, section#search > div.search-bar-container form {
    display:flex;
    align-items: center;
    height: 40px;
}

section#search > div.search-bar-container > div:first-child {
    background-color: #F2F2F2;
    border-radius: 12px 0 0 12px;
}

    section#search > div.search-bar-container i {
        font-size: 14px;
        padding: 0 15px;
    }

section#search > div.search-bar-container div:nth-child(2) {
    flex-grow: 1;
}
    section#search > div.search-bar-container form > input {
        height: 40px;
        padding: 0 15px;
        border: none;
    }

    section#search > div.search-bar-container form > input#city, section#search > div.search-bar-container form > input[type=submit]  {
        font-weight: 600;
        font-size: 14px;
    }

    section#search > div.search-bar-container form > input#city {
        flex-grow: 2;  
    }

    section#search > div.search-bar-container form > input[type=submit] {
        background-color: #0065FC;
        border-radius: 0 12px 12px 0;
        color: white;
        cursor: pointer;
    }


/* SECTION - SEARCH Responsive */

