@import url('fontawesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    max-width: 1440px;
}

section.main-section {
    margin-bottom: 40px;
}

header, section.main-section {
    padding: 0 45px;
}


    /* Général - Responsive */

    @media screen and (max-width: 540px) {

        header, section#search {
            padding: 0 5%;
        }

        section#results, section#activities {
            padding: 0 0;
        }
    }


/* HEADER */

header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-bottom: 35px;
}

header div.logo-container {
    flex-grow: 2;
}

header img {
    display: block;
    width: 100px;
    padding-top: 30px;
}

header div.navigation-button, header div.signin-button {
    display: flex;
}

header a {
    padding-top: 40px;
    text-decoration: none;
    color: black;
}

    header div.navigation-button a {
        padding: 40px 25px 0;
    }

    header div.navigation-button a:hover {
        border-top: 2px #0065FC solid;
        padding-top: 38px;
        color: #0065FC;
    }

    header div.signin-button a {
        color: #0065FC;
        margin-left: 25px;
    }

 
    /* Header responsive */

    @media screen and (max-width: 540px) {

        header img {
            width: 100px;
        }
        header nav {
            width: 100%;
            order: 3;
        }

        header div.navigation-button a, header div.signin-button a {
            font-size: 16px;
        }

        header div.navigation-button a {
            width: 50%;
            text-align-last: center;
            padding-bottom: 20px;
        }

            header div.navigation-button a:hover {
                border-top: none;
                padding-top: 40px;
            }

            /* mise en forme du lien sur mobile */
            /*header div.navigation-button a:visited { 
                border-bottom: 2px #0065FC solid;
            }*/

        header div.signin-button a {
            padding-top: 50px;
        }
    }


/* SECTION - SEARCH */

section#search > h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

section#search > h2 {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}

    /* Hn responsive */

    @media screen and (max-width: 540px) {

        section#search > h1 {
            font-size: 22px;
            line-height: 1.3em;
            margin-bottom: 16px;
        }

        section#search > h2 {
            font-size: 16px;
        }        
    }

    @media screen and (max-width: 369px) {

        section#search > h2 {
            font-size: 15px;
        }        
    }

/* Search bar */

section#search > div.search-bar-container form > button.mobile-search-btn {
    display: none;;
}

section#search > div.search-bar-container {
    width: 350px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px #F2F2F2 solid;
    border-radius: 16px;
    display: flex;
}

section#search > div.search-bar-container > div:first-child, section#search > div.search-bar-container form {
    display:flex;
    align-items: center;
    height: 50px;
}

section#search > div.search-bar-container > div:first-child {
    background-color: #F2F2F2;
    border-radius: 16px 0 0 16px;
}

    section#search > div.search-bar-container i {
        font-size: 18px;
        padding: 0 18px;
    }

section#search > div.search-bar-container div:nth-child(2) {
    flex-grow: 1;
}
    section#search > div.search-bar-container form > input {
        height: 50px;
        padding: 0 15px;
        border: none;
    }

    section#search > div.search-bar-container form > input#city, section#search > div.search-bar-container form > input[type=submit]  {
        font-weight: 700;
        font-size: 18px;
    }

    section#search > div.search-bar-container form > input#city {
        flex-grow: 2;  
    }

    section#search > div.search-bar-container form > input[type=submit] {
        background-color: #0065FC;
        border-radius: 0 16px 16px 0;
        color: white;
        cursor: pointer;
    }


    /* Search bar - Responsive */

    @media screen and (max-width: 540px) {

        section#search > div.search-bar-container form > input.desktop-search-btn {
            display: none;
        }

        section#search > div.search-bar-container {
            width: 100%;
            max-width: 500px;
            margin-top: 30px;        
            /*border-radius: 16px;    */    
        }

        /*section#search > div.search-bar-container > div:first-child, section#search > div.search-bar-container form {
            height: 50px;
        }*/

        /*section#search > div.search-bar-container > div:first-child {
            border-radius: 16px 0 0 16px;
        }*/

        /*section#search > div.search-bar-container i {
            font-size: 18px;
            padding: 0 18px;
        }*/

        section#search > div.search-bar-container form > input#city {
            /*font-size: 18px;
            font-weight: 700;*/
            padding: 0 0 0 22px;
        }
        
        section#search > div.search-bar-container form > button.mobile-search-btn {
            display: block;
            background-color: #0065FC;
            border: none;
            border-radius: 16px;
            color: white;
            height: 50px;
        }
    }


/* Filters */

section#search div.filters-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
}

section#search div.filters-container > p {
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
    margin-right: 20px;
}

section#search div.filters-container > div.filter-btn {
    margin-right: 20px;
    height: 50px;
    border: 2px #DCDCDC solid;
    border-radius: 25px;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 15px;
}

    section#search div.filters-container > div.filter-btn:hover {
        box-shadow: 0px 12px 40px -12px #0065FC;
        transform: translateY(-2px);
    }

section#search div.filters-container > div.filter-btn > div {
    color: #0065FC;
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -2px;
    margin-right: 15px;
}

    section#search div.filters-container > div.filter-btn > div > i {
        color: #0065FC;
        background-color: #DEEBFF;
        font-size: 20px;
    }

    section#search div.filters-container > div.filter-btn > p {
        margin-right: 20px;
        font-size: 18px;
        font-weight: 700;
    }


    /* Filters - Responsive */

    @media screen and (max-width: 540px) {
        
        section#search div.filters-container > p {
            /*font-weight: 700;*/
            width: 100%;
            /*font-size: 18px;*/
        }

        section#search div.filters-container > div.filter-btn {
            /*height: 50px;
            border-radius: 25px;*/
            margin-right: 10px;
        }

        section#search div.filters-container > div.filter-btn > div {
            margin-right: 10px;
        }*/

            section#search div.filters-container > div.filter-btn > div > i {
                font-size: 18px;;
            }

        section#search div.filters-container > div.filter-btn > p {
            /*font-weight: 700;*/
            font-size: 16px;
            margin-right: 15px;
        }
    }

/* Info i */

section#search > div.info-results-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

section#search > div.info-results-container i {
    content: "\f129";
    font-family: Fontawesome;
    color: #0065FC;
    width: 24px;
    height: 24px;
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    vertical-align: middle;
    border: 1px #dfdfdf solid;
    border-radius: 12px;
    margin-right: 10px;
}

section#search > div.info-results-container p {
    font-size: 16px;
}


/* Info i - Responsive */

    @media screen and (max-width: 540px) {

        section#search > div.info-results-container {
            align-items: flex-start;
        }

        section#search > div.info-results-container i {
            width: 30px;
            height: 23px;
            font-size: 16px;
            line-height: 20px;
            border-radius: 15px;
            margin-right: 10px;
        }

        section#search > div.info-results-container p {
                font-size: 16px;
            }
        }


/* SECTION - RESULTS */

section#results {
    display: flex;
}

section#results > div.results-container {
    padding: 40px 40px;
    background-color: #F2F2F2;
    border-radius: 16px;
}

section#results > div.results-container > h3 {
    font-size: 22px;
    margin-bottom: 25px;
}

section#results > div.results-container div.vignette {
    border-radius: 16px;
    margin-bottom: 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 4px 4px 10px 1px #DFDFDF;
}

section#results > div.results-container div.vignette .img-vignette {
    background-color: lightgrey;
    border: 5px solid white;
}

    section#results > div.results-container div.vignette h4 {
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    section#results > div.results-container div.vignette p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
    }

        section#results > div.results-container div.vignette p span {
            font-weight: 600;
        }

section#results > .results-container .vignette .texte-vignette {
    padding-left: 15px;
    margin-bottom: 10px;
}

    section#results > .results-container .vignette .texte-vignette > div  {
        display: flex;
    }

    section#results > .results-container .vignette .texte-vignette i {
        font-size: 12px;
        display: block;
    }


    i.blue {
        color: #0065FC;
    }

    i.grey {
        color: #dfdfdf;
    }


/* Hébergements */

section#results > div.hebergements-container {
    width: 66%;
    min-width: 66%;
    margin-right: 40px;
}

section#results > div.hebergements-container p {
    font-weight: 700;
    font-size: 14px;
}

section#results > div.hebergements-container > .vignettes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section#results > div.hebergements-container .vignette-hebergement {
    width: 31%;
}

section#results > div.hebergements-container .vignette-hebergement .img-hebergement {
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 122px;
}

    section#results > div.hebergements-container .vignette-hebergement .img-hebergement.img-1{
        background: center / cover url("../img/auberge-cannebiere-small-750x500.jpg") lightgrey;
    }

    section#results > div.hebergements-container .vignette-hebergement .img-hebergement.img-2{
        background: center / cover url("../img/hotel-du-port-small-684X456.jpg") lightgrey;
    }

    section#results > div.hebergements-container .vignette-hebergement .img-hebergement.img-3{
        background: center / cover url("../img/hotel-les-mouettes-small-750x500.jpg") lightgrey;
    }

    section#results > div.hebergements-container .vignette-hebergement .img-hebergement.img-4{
        background: center / cover url("../img/hotel-de-la-mer-small-500x467.jpg") lightgrey;
    }

    section#results > div.hebergements-container .vignette-hebergement .img-hebergement.img-5{
        background: center / cover url("../img/auberge-le-panier-small-652x367.jpg") lightgrey;
    }

    section#results > div.hebergements-container .vignette-hebergement .img-hebergement.img-6{
        background: center / cover url("../img/hotel-chez-amina-small-486x729.jpg") lightgrey;
    }

section#results > div.hebergements-container > p {
    margin-top: 12px;
    font-size: 18px;
}


/* Populaires */

section#results > .populaires-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

section#results > .populaires-container .vignettes-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

section#results > .populaires-container div.vignette-populaire {
    width: 100%;
    height: 28%;
    display: flex;
    margin-bottom: 0!important;
}

section#results > .populaires-container .vignette-populaire .img-populaire {
    border-radius: 16px  0 0 16px;
    width: 40%;
    min-width: 40%;
}

    section#results > div.populaires-container .vignette-populaire .img-populaire.img-1{
        background: center / cover url("../img/hotel-le-soleil-du-matin-small-532x355.jpg") lightgrey;
    }

    section#results > div.populaires-container .vignette-populaire .img-populaire.img-2{
        background: center / cover url("../img/au-coeur-de leau-chambre-dhotes-small-504x378.jpg") lightgrey;
    }

    section#results > div.populaires-container .vignette-populaire .img-populaire.img-3{
        background: center / cover url("../img/hotel-tou-bleu-et-blanc-small-500x750.jpg") lightgrey;
    }

    section#results > div.populaires-container .vignette-populaire .texte-vignette {
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 3px;
        display:flex;
        flex-direction: column;
    }
    
    section#results > div.populaires-container .vignette-populaire .texte-vignette  > div {
        flex-grow: 2;
        display: flex;
        align-items: flex-end;
    }





    /* Results - Responsive */

    @media screen and (max-width: 540px) {

        section#results {
            flex-wrap: wrap;
        }
        
        section#results > div.results-container {
            width: 100%;
            border-radius: 0;
            padding: 35px 5%;
            border-radius: 0;
        }

        section#results > div.results-container > h3 {
            font-size: 22px;
            margin-bottom: 25px;
        }

        section#results > div.results-container div.vignette {
            box-shadow: 2px 2px 15px 1px #DFDFDF;
        }

        section#results > div.results-container div.vignette h4 {
            font-size: 16px;
        }
    
        section#results > div.results-container div.vignette p {
            font-size: 14px;
            margin-bottom: 8px;
        }

        section#results > .results-container .vignette .texte-vignette i {
            font-size: 13px;
        }

        /* Hébergement - Responsive */

        section#results > .results-container.hebergements-container {
            background-color: white;
            margin-right: 0;
            order: 2;
        }

        section#results > div.hebergements-container .vignette-hebergement {
            width: 100%;
        }

        section#results > div.hebergements-container .vignette-hebergement .img-hebergement {
            height: 130px;
        }


        /* Populaire - Responsive */

        section#results > .populaires-container div.vignette-populaire {
            height: 140px!important;
            margin-bottom: 10px!important;
        }
    }

